*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    max-width: 100%;

    /* font: comic; */
    /* font-family:Mitr ; */
}

body{
    background-color: #FDF5D0;

    display: flex;
    flex-direction: row;
    /* padding-left: 400px; */
}

.mid{
    display: block;
<<<<<<< HEAD
    margin-left: 25%;
    justify-content: space-between;
    margin-top: 10%;
    width: 50%;
=======
    margin-left: 20%;
    margin-top: 40%;
    width: 60%;
>>>>>>> e62a364fc0c6e2776b41bb273106e97544f12142
    /* background-color: lightsalmon; */

}

.head{
    margin-top: 6%;
    display: flex;
    /* align-content: center; */
    justify-content: space-between;
    /* align-items: center; */
    background-color: rgb(61, 86, 94);
}
.square{
    margin-top: 9%;
    width: 10px;
    height: 120px;
    background-color: #485545;
}

.container{
    /* background-color: lightgreen; */
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 2%;
    align-content: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: auto;
    

}
.nabox{
    
    position: relative;
    background-color: #fffcee;
    margin-top: 5%;
    width: 40%;
    height: 290px;
    border-radius: 3px;
    
    text-align: center;
    /* margin: 10px; */
    border-style: solid;
    border-width: thin;

    
}


/* ปรับหนังสือฝั่ง backend */
.pic {
    margin-top: 7%;
    width: 90px;
    height: 140px;
}
.bookname{
    font-size: 20px;
    font-weight: bold;
}
@media (max-width:1620px){
    .mid{
        margin-left: 36%;
        margin-top: 7%;
        width: 100%;
        display: block;
    }
}

@media (max-width:1500px){
    .mid{
        margin-left: 34%;
        margin-top: 7%;
        width: 100%;
        display: block;
    }
}


.clicktoview{
    width: 50%;
    background: #485545;
    padding: 5px 10px;
    color: #FDF5D0;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(39,34,34);
}

.clicktoview:hover{
    box-shadow: 1.5px 1.5px rgb(253,245,208, 0.8);
}
.recommendtxt{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
    top: 0px;
    font: "Poppings";
    width: 100%;
    font-weight: 300;
    font-size: 70px;
    color:#fffbdc;
    /* background-color: lightcoral; */
}
.explorebut{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 12%;
    margin-top:25%;
    padding: 20px;
    background-color:transparent;
    border: 1px solid #fefffe;
    font: comic;
}
.newarrdes{
    margin-top: 2%;
    display: flex;
    font-weight: 10;
    justify-content: center;
    /* background-color: lightgray; */

}
.recdes{
    margin-top: 2%;
    display: flex;
    font-weight: 10;
    justify-content: center;
    color:#fff3f3;
    /* background-color: lightgray; */

}

.hr1{
    display: flex;
    width: 20%;
    align-items: center;
    border-top: 2px solid rgb(48, 48, 48);
    margin: 0 auto;
    
}
.hr2{
    display: flex;
    width: 20%;
    align-items: center;
    border-top: 2px solid rgb(255, 255, 255);
    margin: 0 auto;
    
}
.gt1{
    color: #fff5c8;
    margin-top: 11%;
    width: 100%;
    height: 20%;
    font-size: 70px;
    margin-left: 12%;
    font-weight: 50;
    line-height: 1.1;
}
.gt2{
    color: #fefffe;
    width: 100%;
    height: 20%;
    font-size: 20px;
    margin-left: 12%;
    margin-top: 1.5%;
    font-weight: 10;

}
.greenbg{
    overflow-x: hidden;
    left:0;
    z-index: -1;
    position: absolute;
    height: 70%;
    width: 100%;
    background: #485545;
}
.newarrival{
    display: flex;
    justify-content: center;
    /* background-color: lightblue; */
    margin-top: 0%;
    font: "Poppings";
    width: 100%;
    font-weight: 300;
    font-size: 100px;
    color:#3a2d2d;
    

}
.img1{
    display: flex;
    position: absolute;
    top:0;
    margin-top: 10%;
    margin-left: 50%;
    box-shadow: rgb(31, 31, 31) 0px 20px 30px -10px;
}
.img2{
    display: flex;
    position: absolute;
    top:0;
    margin-top: 11%;
    margin-left: 60%;
    box-shadow: rgb(31, 31, 31) 0px 20px 30px -10px;
}
.img3{
    display: flex;
    position: absolute;
    top:0;
    margin-top: 10%;
    margin-left: 70%;
    box-shadow: rgb(31, 31, 31) 0px 20px 30px -10px;
}
.brownblock{
    position: relative;
    width: 150%;
    height: 100%;
    background-color: rgb(59, 55, 50);
}

.space1{

    width: 100%;
    height: 5%;
}
.space{

    width: 100%;
    height: 5%;
}
.brown{
    z-index: -1;
    margin-top: 80%;
    left: 0;
    display: flex;
    position: absolute;
    /* background-color: #443d38; */
    background: #485545;
    width: 100%;
    height: 90%;
}