*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* font: comic; */
    /* font-family:Mitr ; */
}

body{
    background-color: #FDF5D0;

    display: flex;
    flex-direction: row;
    /* padding-left: 400px; */
}

.mid{
    display: block;
    margin-left: 21%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin-top: 10%;


    width: 150%;
    /* background-color: lightsalmon; */

}

.head{
    margin-top: 6%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 86, 94);
}
.square{
    margin-top: 9%;
    
    width: 10px;
    height: 120px;
    background-color: #485545;
}

.container{
    /* background-color: lightgreen; */
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 2%;
    align-content: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: auto;
    

}
.nabox{
    position: relative;
    background-color: #fffcee;
    width: 15%;
    height: 290px;
    border-radius: 6px;
    
    text-align: center;
    /* margin: 10px; */
    border-style: solid;
    border-width: thin;

    
}


/* ปรับหนังสือฝั่ง backend */
.pic {
    margin-top: 7%;
    width: 90px;
    height: 140px;
}
.bookname{
    font-size: 20px;
    font-weight: bold;
}
@media (max-width:1620px){
    .mid{
        margin-left: 36%;
        margin-top: 7%;
        width: 100%;
        display: block;
    }
}

@media (max-width:1500px){
    .mid{
        margin-left: 34%;
        margin-top: 7%;
        width: 100%;
        display: block;
    }
}


.clicktoview{
    width: 50%;
    background: #485545;
    padding: 5px 10px;
    color: #FDF5D0;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(39,34,34);
}

.clicktoview:hover{
    box-shadow: 1.5px 1.5px rgb(253,245,208, 0.8);
}
.recommend{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    top: 0px;
    font: "Poppings";
    width: 100%;
    font-size: 60px;
    color:#342b2b;
    /* background-color: lightcoral; */
}
.explorebut{
    color: rgb(229, 229, 229);
    position: absolute;
    left: 12%;
    margin-top:3%;
    padding: 20px;
    background-color:transparent;
    border: 1px solid #fefffe;
    font: comic;
}
.newarrdes{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    /* background-color: lightgray; */

}
hr{
    display: flex;
    width: 20%;
    align-items: center;
    border-top: 2px solid rgb(48, 48, 48);
    margin: 0 auto;
    
}
.gt1{
    color: #dddacc;
    margin-top: 11%;
    width: 100%;
    height: 20%;
    font-size: 70px;
    margin-left: 12%;
    font-weight: 500;
    line-height: 1.1;
}
.gt2{

    width: 100%;
    height: 20%;
    font-size: 20px;
    margin-left: 12%;
    margin-top: 1.5%;
    font-weight: 10;
 
}
.greenbg{
    z-index: -1;
    left: 0;
    position: absolute;
    width: 100%;
    height: 70%;
    background: #485545;
}
.newarrival{
    display: flex;
    justify-content: center;
    /* background-color: lightblue; */
    margin-top: 50%;
    font: "Poppings";
    width: 100%;
    font-size: 70px;
    color:#3a2d2d;
    

}
.img1{
    display: flex;
    position: absolute;
    top:0;
    margin-top: 10%;
    margin-left: 50%;
    box-shadow: rgb(31, 31, 31) 0px 20px 30px -10px;
}
.img2{
    display: flex;
    position: absolute;
    top:0;
    margin-top: 11%;
    margin-left: 60%;
    box-shadow: rgb(31, 31, 31) 0px 20px 30px -10px;
}
.img3{
    display: flex;
    position: absolute;
    top:0;
    margin-top: 10%;
    margin-left: 70%;
    box-shadow: rgb(31, 31, 31) 0px 20px 30px -10px;
}