*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    max-width: 100%;
    /* font: comic; */
    font-family:Mitr;
}

body{
    background-color: #FDF5D0;

    display: flex;
    flex-direction: row;
    /* padding-left: 400px; */
}

.mid{
    /* display: block; */
    margin-left: 25%;
    margin-top: 45%;
    /* width: 60%; */
    background-color: transparent;
}

.head{
    margin-top: 6%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 86, 94);
}
.square{
    margin-top: 9%;
    
    width: 10px;
    height: 120px;
    background-color: #485545;
}

.container{
    /* background-color: lightgreen; */
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 2%;
    align-content: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: auto;
    

}
.nabox{
    
    position: relative;
    background-color: #fffcee;
    margin-top: 5%;
    width: 40%;
    height: 290px;
    border-radius: 3px;
    
    text-align: center;
    /* margin: 10px; */
    border-style: solid;
    border-width: thin;
    transition:0.3s;

    
}

.nabox:hover{
    scale:1.1;
    box-shadow: 1.5px 1.5px rgba(68, 68, 68, 0.377);
}


/* ปรับหนังสือฝั่ง backend */
.pic {
    margin-top: 7%;
    width: 90px;
    height: 140px;
}
.bookname{
    font-size: 20px;
    font-weight: bold;
}
@media (max-width:1620px){
    .mid{
        margin-left: 36%;
        margin-top: 7%;
        width: 100%;
        display: block;
    }
}

@media (max-width:1500px){
    .mid{
        margin-left: 0%;
        margin-top: 7%;
        width: 100%;
        display: block;
    }
}


.clicktoview{
    width: 50%;
    background: #485545;
    padding: 5px 10px;
    color: #FDF5D0;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(39,34,34);
}

.clicktoview:hover{
    box-shadow: 1.5px 1.5px rgb(253,245,208, 0.8);
}
body::-webkit-scrollbar{
    display: none;
}
.recommendtxt{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
    top: 0px;
    font: "Poppings";
    width: 100%;
    font-weight: 300;
    font-size: 70px;
    color:#fffbdc;
    /* background-color: lightcoral; */
}
.explorebut{
    color: rgb(255, 255, 255);
    background-color: #f5f5f517;
    position: absolute;
    left: 12%;
    margin-top:25%;
    padding: 20px;
    /* background-color:transparent; */
    border: 1px solid #fefffe;
    font: comic;
    text-decoration: none;
    transition:0.3s;
}
.explorebut:hover{
    scale:1.1;
}
.newarrdes{
    margin-top: 2%;
    display: flex;
    font-weight: 10;
    justify-content: center;
    /* background-color: lightgray; */

}
.recdes{
    margin-top: 2%;
    display: flex;
    font-weight: 10;
    justify-content: center;
    color:#fff3f3;
    /* background-color: lightgray; */

}

.hr1{
    display: flex;
    width: 20%;
    align-items: center;
    border-top: 2px solid rgb(48, 48, 48);
    margin: 0 auto;
    
}
.hr2{
    display: flex;
    width: 20%;
    align-items: center;
    border-top: 2px solid rgb(255, 255, 255);
    margin: 0 auto;
    
}
.gt1{
    color: #fff5c8;
    margin-top: 11%;
    width: 100%;
    height: 20%;
    font-size: 70px;
    margin-left: 12%;
    font-weight: 50;
    line-height: 1.1;
}
.gt2{
    color: #fefffe;
    width: 100%;
    height: 20%;
    font-size: 20px;
    margin-left: 12%;
    margin-top: 1.5%;
    font-weight: 10;

}
.greentext{
    /* background-color: #1b201a49; */
    background: rgb(27,32,26);
    background: linear-gradient(0deg, #1b201a42 0%, #1b201a5e 12%, #1b201aa4 23%, #1b201aa4 79%, #1b201a5e 88%, #1b201a42 100%);;
}
.greenbg{
    --s: 100px; /* control the size */
    --c1: #2c332a;
    --c2: #1b201a;
    
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: var(--_s) conic-gradient(at 40% 40%,#0000 75%,var(--c1) 0);
    --_p: var(--_s) conic-gradient(at 20% 20%,#0000 75%,var(--c2) 0);
    background:
        calc( .9*var(--s)) calc( .9*var(--s))/var(--_p),
        calc(-.1*var(--s)) calc(-.1*var(--s))/var(--_p),
        calc( .7*var(--s)) calc( .7*var(--s))/var(--_g),
        calc(-.3*var(--s)) calc(-.3*var(--s))/var(--_g),
        conic-gradient(from 90deg at 20% 20%,var(--c2) 25%,var(--c1) 0) 
        0 0/var(--s) var(--s);
    animation: m 10s infinite;
    overflow-x: hidden;
    left:0;
    z-index: -1;
    position: absolute;
    height: 70%;
    width: 100%;
}
.newarrival{
    display: flex;
    justify-content: center;
    /* background-color: lightblue; */
    margin-top: 0%;
    font: "Poppings";
    width: 100%;
    font-weight: 300;
    font-size: 100px;
    color:#3a2d2d;
}
.img1{
    display: flex;
    position: absolute;
    top:0;
    margin-top: 10%;
    margin-left: 45%;
    box-shadow: rgb(31, 31, 31) 0px 20px 30px -10px;
    z-index: 9;
    animation: img1 8s infinite;
}
@keyframes img1{
    0%{
        margin-left:45%;
        scale:1;
        z-index: 9;
    }
    16.5%{
        margin-left:45%;
        scale:1;
        z-index: 9;
    }
    33%{
        margin-left: 75%;
        scale:1;
        z-index: 9;
    }
    49.5%{
        margin-left: 75%;
        scale:1;
        z-index: 10;
    }
    66%{
        margin-left: 60%;
        scale:1.1;
        z-index: 10;

    }
    82.5%{
        margin-left: 60%;
        scale:1.1;
        z-index: 10;
    }
    99%{
        margin-left:45%;
        scale:1;
        z-index: 10;
    }
}

.img2{
    display: flex;
    position: absolute;
    top:0;
    margin-top: 10%;
    margin-left: 60%;
    box-shadow: rgb(31, 31, 31) 0px 20px 30px -10px;
    z-index: 10;
    scale:1.1;
    animation: img2 8s infinite;
}
@keyframes img2{
    0%{
        margin-left: 60%;
        scale:1.1;
        z-index: 10;
    }
    16.5%{
        margin-left: 60%;
        scale:1.1;
        z-index: 10;
    }
    33%{
        margin-left:45%;
        scale:1;
        z-index: 9;
    }
    49.5%{
        margin-left: 45%;
        scale:1;
        z-index: 9;
    }
    66%{
        margin-left: 75%;
        scale:1;
        z-index: 9;
    }
    82.5%{
        margin-left: 75%;
        scale:1;
        z-index: 10;
    }
    99%{
        margin-left: 60%;
        scale:1.1;
        z-index: 10;
    }
}
.img3{
    display: flex;
    position: absolute;
    top:0;
    margin-top: 10%;
    margin-left: 75%;
    box-shadow: rgb(31, 31, 31) 0px 20px 30px -10px;
    z-index: 10;
    animation: img3 8s infinite;
}
@keyframes img3{
    0%{
        margin-left: 75%;
        scale:1;
        z-index: 10;
    }
    16.5%{
        margin-left: 75%;
        scale:1;
        z-index: 10;
    }
    33%{
        margin-left: 60%;
        scale:1.1;
        z-index: 10;
    }
    49.5%{
        margin-left: 60%;
        scale:1.1;
        z-index: 10;
    }
    65.99%{
        z-index:10;
    }
    66%{
        margin-left:45%;
        scale:1;
        z-index: 9;
    }
    82.5%{
        margin-left:45%;
        scale:1;
        z-index: 9;
    }
    99%{
        margin-left: 75%;
        scale:1;
        z-index: 9;
    }
}
.brownblock{
    position: relative;
    width: 150%;
    height: 100%;
    background-color: rgb(59, 55, 50);
}

.space1{

    width: 100%;
    height: 5%;
}
.space{

    width: 100%;
    height: 5%;
}
.brown{
    z-index: -1;
    margin-top: 80%;
    left: 0;
    display: flex;
    position: absolute;
    /* background-color: #443d38; */
    background: #485545;
    width: 100%;
    height: 90%;
}




@keyframes m {
  0% {
   background-position: 
    calc( .9*var(--s)) calc( .9*var(--s)),
    calc(-.1*var(--s)) calc(-.1*var(--s)),
    calc( .7*var(--s)) calc( .7*var(--s)),
    calc(-.3*var(--s)) calc(-.3*var(--s)),0 0
  }
  25% {
   background-position: 
    calc(1.9*var(--s)) calc( .9*var(--s)),
    calc(-1.1*var(--s)) calc(-.1*var(--s)),
    calc(1.7*var(--s)) calc( .7*var(--s)),
    calc(-1.3*var(--s)) calc(-.3*var(--s)),0 0
  }
  50% {
   background-position: 
    calc(1.9*var(--s)) calc(-.1*var(--s)),
    calc(-1.1*var(--s)) calc( .9*var(--s)),
    calc(1.7*var(--s)) calc(-.3*var(--s)),
    calc(-1.3*var(--s)) calc( .7*var(--s)),0 0
  }
  75% {
   background-position: 
    calc(2.9*var(--s)) calc(-.1*var(--s)),
    calc(-2.1*var(--s)) calc( .9*var(--s)),
    calc(2.7*var(--s)) calc(-.3*var(--s)),
    calc(-2.3*var(--s)) calc( .7*var(--s)),0 0
  }
  100% {
   background-position: 
    calc(2.9*var(--s)) calc(-1.1*var(--s)),
    calc(-2.1*var(--s)) calc(1.9*var(--s)),
    calc(2.7*var(--s)) calc(-1.3*var(--s)),
    calc(-2.3*var(--s)) calc(1.7*var(--s)),0 0
  }
}
