.landing-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.landing-landing {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-image: linear-gradient(180deg, rgb(239, 231, 222) 1.00%,rgb(192, 167, 140) 100.00%);
}
.landing-text {
  top: 658px;
  left: 0px;
  color: rgba(73, 70, 57, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.landing-text02 {
  top: 618px;
  left: 0px;
  color: rgba(73, 70, 57, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-text04 {
  top: 561px;
  left: 0px;
  color: rgba(72, 85, 69, 1);
  right: 0px;
  width: 119px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.landing-leftlsvg {
  top: 615px;
  left: 0px;
  width: 349px;
  height: 426px;
  position: absolute;
}
.landing-rightlsvg {
  top: 608.309814453125px;
  right: 0px;
  width: 344px;
  height: 533px;
  position: absolute;
}
.landing-bookssvg {
  top: 772px;
  left: 0px;
  right: 0px;
  width: 539px;
  height: 320px;
  margin: auto;
  position: absolute;
}
.landing-link {
  display: contents;
}
.landing-logosvgbutton {
  top: 45.812408447265625px;
  left: 0px;
  right: 0px;
  width: 255px;
  height: 215px;
  margin: auto;
  position: absolute;
}
.landing-text06 {
  top: 228px;
  left: 0px;
  color: rgba(73, 70, 57, 1);
  right: 0px;
  width: 698px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 96px;
  font-style: Bold;
  text-align: left;
  font-family: Mitr;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-lineleft {
  top: 311px;
  left: 183px;
  width: 354px;
  height: 1px;
  position: absolute;
}
.landing-lineright {
  top: 311px;
  left: 1613px;
  width: 354px;
  height: 1px;
  position: absolute;
}
.landing-link1 {
  display: contents;
}
.landing-group14button {
  top: 426px;
  left: 0px;
  right: 0px;
  width: 245px;
  height: 86px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(72, 85, 69, 1);
}
.landing-text08 {
  top: 19px;
  left: 0px;
  color: rgba(253, 245, 208, 1);
  right: 0px;
  width: 172px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 40px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
