.landing-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.landing-landing {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-image: linear-gradient(180deg, rgba(239, 231, 222, 1) 0%, rgba(150, 112, 68, 1) 100%);
}
.landing-text {
  top: 658px;
  left: 0px;
  color: rgba(72, 85, 69);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: Extra Bold;
  text-align: center;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  border-width: 0px;
  font-stretch: normal;
  background-color: transparent;
}
.landing-text:hover {
  color: #363220;
}
.landing-text02 {
  top: 618px;
  left: 0px;
  color: rgba(73, 70, 57, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-container1 {
  top: 561px;
  left: 0px;
  right: 0px;
  width: 433px;
  height: 29px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.landing-text04 {
  top: 0px;
  left: -15px;
  color: rgba(73, 70, 57, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.landing-text06 {
  top: -37px;
  margin-right: -15px;
  color: rgb(72, 85, 69);
  right: 26px;
  width: 119px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Extra Bold;
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  border-width: 0px;
  font-stretch: normal;
  border-radius: 0px;
  /* text-decoration: underline; */
  background-color: transparent;
}
.landing-text06:hover {
  color: #363220;
}
.landing-leftlsvg {
  width: 349px;
  height: 426px;
  align-self: flex-end;
  transition: 0.3s;
}
.landing-leftlsvg:hover {
  width: 360px;
  height: 437px;
}
.landing-rightlsvg {
  right: 0px;
  width: 508px;
  bottom: 0px;
  height: 533px;
  position: absolute;
  align-self: flex-end;
  transition: 0.3s;
}
.landing-rightlsvg:hover {
  width: 519px;
  height: 544px;
}
.landing-bookssvg {
  top: 772px;
  left: 0px;
  right: 0px;
  width: 539px;
  height: 320px;
  margin: auto;
  transition : 0.3s;
  position: absolute;
}
.landing-bookssvg:hover {
  width: 550px;
  height: 331px;
  top: 761px;
}
.landing-logosvg {
  top: 45.812408447265625px;
  left: 0px;
  right: 0px;
  width: 255px;
  height: 215px;
  margin: auto;
  position: absolute;
  animation: float 4s ease-in-out infinite;
}
.landing-text07 {
  top: 228px;
  left: 0px;
  color: rgba(73, 70, 57, 1);
  right: 0px;
  width: 698px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 96px;
  font-style: Bold;
  text-align: left;
  font-family: Mitr;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  transition: 0.3s;
  animation: float 4.5s ease-in-out infinite;
}
.landing-text07:hover {
  color: #485545;
}
.landing-lineleft {
  top: 311px;
  left: 183px;
  width: 354px;
  height: 1px;
  position: absolute;
}
.landing-lineright {
  top: 311px;
  left: 1613px;
  width: 354px;
  height: 1px;
  position: absolute;
}
.landing-frame14button {
  top: 421px;
  flex: 0;
  left: 0px;
  right: 0px;
  width: 408px;
  height: 99px;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 1;
  border-radius: 30px;
  border-width: 0px;
  justify-content: center;
  background-color: #485545;
}
.landing-frame14button:hover {
  width: 420px;
  height: 101px;
}
.landing-text09 {
  color: rgba(253, 245, 208, 1);
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Mitr;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}


@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}


.landing-text06::before,.landing-text06::after {
 content: '';
  position: absolute;
  width: 100%;

}
.landing-text06::before {
  background-color: #363220;
  height: 2px;
  bottom: 10px;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.landing-text06:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.landing-text06:hover::after {
  transform: translate3d(0, 0, 0);
}

