*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font: comic;
}
.LANDING {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .LANDING .div {
    background-color: rgba(255, 255, 255, 1);
    background: linear-gradient(180deg, rgb(239, 231, 222) 0%, rgb(150.87, 112.12, 68.52) 100%);
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .LANDING .text-wrapper {
    position: absolute;
    top: 657px;
    left: 638px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #494639;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .LANDING .text-wrapper-2 {
    position: absolute;
    top: 617px;
    left: 712px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #494639;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .LANDING .text-wrapper-3 {
    position: absolute;
    top: 560px;
    left: 503px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #494639;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .LANDING .text-wrapper-4 {
    position: absolute;
    width: 119px;
    top: 560px;
    left: 817px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #485545;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
  }
  
  .LANDING .left-l {
    position: absolute;
    width: 332px;
    height: 340px;
    top: 684px;
    left: 0;
  }
  
  .LANDING .right-l {
    position: absolute;
    width: 280px;
    height: 416px;
    top: 608px;
    left: 1160px;
  }
  
  .LANDING .books {
    position: absolute;
    width: 539px;
    height: 252px;
    top: 772px;
    left: 450px;
  }
  
  .LANDING .overlap {
    position: absolute;
    width: 698px;
    height: 332px;
    top: 46px;
    left: 372px;
  }
  
  .LANDING .logo {
    position: absolute;
    width: 255px;
    height: 215px;
    top: 0;
    left: 211px;
  }
  
  .LANDING .name {
    position: absolute;
    width: 698px;
    top: 181px;
    left: 0;
    font-family: "Mitr-Bold", Helvetica;
    font-weight: 700;
    color: #494639;
    font-size: 96px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .LANDING .lineleft {
    position: absolute;
    width: 183px;
    height: 11px;
    top: 311px;
    left: 0;
  }
  
  .LANDING .lineright {
    position: absolute;
    width: 181px;
    height: 11px;
    top: 311px;
    left: 1259px;
  }
  
  .LANDING .login-button {
    position: absolute;
    width: 336px;
    height: 70px;
    top: 442px;
    left: 550px;
    transition: all 0.2s ease;
    all: unset;
    box-sizing: border-box;
  }
  
  .LANDING .overlap-group {
    position: relative;
    width: 334px;
    height: 70px;
    background-color: #494639;
    border-radius: 46px;
  }
  
  .LANDING .text-wrapper-5 {
    position: absolute;
    top: 11px;
    left: 104px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  