*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* font: comic; */
    font-family:Mitr ;
}

body{
    background-color: #FDF5D0;

    display: flex;
    flex-direction: row;
    /* padding-left: 400px; */
}

.mid{
    
    /* margin-left: 40rem; */
    margin-left: 45%;
    margin-top: 7%;
    /* padding-left: 30%; */
    width: 100%;
    /* text-align: center; */
    display: block;
}
.head{
    gap: 20px;
    left: 0px;
    margin-top: 5%;
    margin-left: 1%;
    display: inline-flex;
    justify-content: space-between;
}
.square{
    margin-top: 9%;
    width: 10px;
    height: 120px;
    background-color: #485545;
}
.newarrival{
    top: 0px;
    width: 100%;
    font: "Poppings";
    font-size: 50px;
    color:#272222;


}
.container{
    
    /* background-color: white; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    gap: 10px;
    width: 1100px;
    height: auto;

}
.nabox{
    position: relative;
    background-color: #afc0b169;
    width: 20%;
    height: 290px;
    border-radius: 10px;
    
    text-align: center;
    margin: 10px;
    border:#485545;
    border-style: solid;
    border-width:medium;
    box-shadow: 10px 10px 5px -4px #4946392c;
    transition:0.3s;
    
}
.nabox:hover{
    scale:1.05;
}
.fas.fa-search{
    color:#494639;
    margin-top:-10%;
    padding-left:1%;
    padding-bottom: 0.5%;
    transition:0.3s;
    cursor:pointer;
}
.fas.fa-search:hover{
    color:#242524;
    scale:1.1;
}

/* ปรับหนังสือฝั่ง backend */
.pic {
    margin-top: 7%;
    width: 90px;
    height: 140px;
}
.bookname{
    font-size: 20px;
    font-family: Mitr;
    font-weight: medium;
}
.authorname{
    font-family: Mitr;
    font-weight: thin;
    opacity: 0.6;
}
@media (max-width:1620px){
    .mid{
        margin-left: 36%;
        margin-top: 7%;
        width: 100%;
        display: block;
    }
}

@media (max-width:1500px){
    .mid{
        margin-left: 34%;
        margin-top: 7%;
        width: 100%;
        display: block;
    }
}

.clicktoview{
    width: 50%;
    background: #485545;
    padding: 5px 10px;
    color: #FDF5D0;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(39,34,34);
    transition:0.3s;
    cursor: pointer;
}

.clicktoview:hover{
    scale:1.08;
    box-shadow: 1.5px 1.5px rgb(253,245,208, 0.8);
}
/* pop-up */
.pic{
    margin-top: 7%;
    width: 95px;
    height: 140px;
}

.square2{
    position: absolute;
    
    margin-top: 0rem;
    margin-left: 32.5rem;
    width: 150px;
    height: 500px;
    background-color: #485545;
}
p{  
    font-family:"Poppings";
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    margin: 3px 0;
}
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1;
}
hr{
    color:#485545;
    border-top: 1px solid #485545;
    background: #485545;
    position: absolute;
    width: 360px;
    margin-top: 5rem;
    margin-left: 4rem;
    /* padding-left:5rem; */
}
/* Style for the popup content */
.popup-content {
    font-family:"Poppings";
    background-color: #FDF5D0;
    padding: 0px;
    width: 800px;
    height: 500px;
    /* border-radius: 5px; */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/* Close button style */
.popup-close {
    position: absolute;
    width:400px;
    margin-top: 1rem;
    margin-left: 48rem;
    cursor: pointer;
}
.popup-pic{
    position:absolute;
    display:inline-block;
    /* background:lightgreen; */
    margin-top:75px;
    width: 220px;
    height: 340px;
    margin-left:30rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    transition: 0.3s;
}
.popup-pic:hover{
    scale:1.05;
}
.aa{  
    margin: 30px 0;
    border: solid black 1px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}
.clicktoview{
width: 30%;
background: #485545;
padding: 4px 10px;
color: #FDF5D0;
border-radius: 5px;
/* box-shadow: 2px 2px rgb(39,34,34); */
}
.clicktoview:hover{
    background: #657661;
    box-shadow: 2px 2px rgb(39,34,34);
}
.popup-bookname{
    font-family:Mitr;
    position:absolute;
    display:inline-block;
    /* background-color:lightcoral; */
    padding:20px 0px 20px 40px;
    margin-top: 60px;
    margin-left:30px;
    width:20%;
    margin-right:55rem;
    font-size:40px;
    font: "Poppings";
}
.pop_button_contain{
    position:center;
    display:flex;
    width:100%;
}
.clicktoborrow2{
    position:absolute;
    display:inline-block;
    width: 8%;
    margin-left:3%;
    margin-top:20rem;
    background: #657661;
    padding: 1%;

    color: #FDF5D0;
    border-radius: 3px;
    box-shadow: 2px 2px rgb(39,34,34);
    transition: 0.5s;
}
.clicktoborrow2:hover{
    transform: scale(1.1);
    background: #485545;
}

.clicktoborrow1{
    position:absolute;
    display:inline-block;
    width: 8%;
    margin-left:13%;
    margin-top:20rem;
    background: #657661;

    color: #FDF5D0;
    border-radius: 3px;
    padding: 1%;
    box-shadow: 2px 2px rgb(39,34,34);
    transition:0.5s;
}
.clicktoborrow1:hover{
    transform: scale(1.1);
    background: #485545;
}
.popup-author{
    margin:50px 0 50px 70px;
    font-family:"Poppings";
    position:absolute;
    display:inline-block;
    /* background-color:lightskyblue; */
}

/* .likebutt{
    background-color: transparent;
    border: transparent;
} */

.fas.fa-heart{
    color: #485545;
    scale: 1.4;
    transition: 0.3s;
    background-color: transparent;
    border:transparent;
}

.fas.fa-heart:hover{
    color: red;
    scale: 1.6;
}
.fas.fa-heart:focus{
    color: red;
    scale: 1.6;
}
.fas.fa-heart:active{
    color: red;
    scale: 1.4;
}

.popup-like{
    margin:150px 0 100px 70px;
    padding: 0.23%;
    font-family: Mitr;
    position:absolute;
    display:inline-block;
    /* background-color:lightskyblue; */
}
.ssquare1{
    margin-top: 9%;
    width: 10px;
    height: 120px;
    background-color: #485545;
}
.ssquare2{
    margin-top: 7%;
    width: 10px;
    height: 50px;
    background-color: #485545;
}
.un{
    color: red;
    font-size: 14px;
}
.search{
    width: 65rem;
    height: 5rem;
    border: -var(--border);
    overflow: hidden;
    background: #FDF5D0;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: .5rem;
}
.input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}
.search #search-box{
    width: 50%;
    height: 50%;
    border-radius: 10px;
    padding-left: 20px;
}
label{
    font-size: 2rem;
    padding-left: 1.5rem;
    color: var(--black);
}
label:hover{
    color : #485545;
}
