*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* font: comic; */
    /* font-family:Mitr ; */
}

body{
    background-color: #FDF5D0;

    display: flex;
    flex-direction: row;
    /* padding-left: 400px; */
}

.mid{
    
    /* margin-left: 40rem; */
    margin-left: 45%;
    margin-top: 7%;
    /* padding-left: 30%; */
    width: 100%;
    /* text-align: center; */
    display: block;
}
.head{
    gap: 20px;
    left: 0px;
    margin-top: 5%;
    margin-left: 1%;
    display: inline-flex;
    justify-content: space-between;
}
.square{
    margin-top: 9%;
    width: 10px;
    height: 120px;
    background-color: #485545;
}
.newarrival{
    top: 0px;
    width: 100%;
    font: "Poppings";
    font-size: 50px;
    color:#272222;


}
.container{
    
    /* background-color: white; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    gap: 10px;
    width: 1100px;
    height: auto;

}
.nabox{
    position: relative;
    background-color: #fffcee;
    width: 20%;
    height: 290px;
    /* border-radius: 10px; */
    
    text-align: center;
    margin: 10px;
    border-style: solid;
    border-width: thin;
    box-shadow: 10px 10px 5px #fdf1b9;
    
}


/* ปรับหนังสือฝั่ง backend */
.pic {
    margin-top: 7%;
    width: 90px;
    height: 140px;
}
.bookname{
    font-size: 20px;
    font-weight: bold;
}
@media (max-width:1620px){
    .mid{
        margin-left: 36%;
        margin-top: 7%;
        width: 100%;
        display: block;
    }
}

@media (max-width:1500px){
    .mid{
        margin-left: 34%;
        margin-top: 7%;
        width: 100%;
        display: block;
    }
}


.clicktoview{
    width: 50%;
    background: #485545;
    padding: 5px 10px;
    color: #FDF5D0;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(39,34,34);
}

.clicktoview:hover{
    box-shadow: 1.5px 1.5px rgb(253,245,208, 0.8);
}