@import url("https://fonts.googleapis.com/css?family=Mitr");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family:Mitr;
}
body{
  background:#EFE7DE;
  height:100%;
}
body::-webkit-scrollbar{
  display: none;
}


.container{
  display: flex;
  /* position:relative; */
}

/* MAin Section */

.main{
  position: relative;
  padding: 20px;
  width: 100%;
  
}
.main-top{
  display: flex;
  width: 100%;
}
.main-top i{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}
.main .users{
  display: flex;
  width: 100%;
  margin-top: 2%;
}
.users .card{
  position: center;
  width: 50%;
  /* margin-inline: 11.25%; */
  margin-inline: 5%;
  background: #e9e9e959;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  /* margin-top: 5%; */
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
#content1{
  display:block;
}
#content2{
  display:none;
}
.users table{
  margin:  auto;
} 

.users td{
  font-size: 14px;
  padding-right: 15px;
}


.nametable{
  margin-top: 5%;
  /* margin-bottom: 2%; */
  display: flex;
  width: 100%;
  /* margin-inline: 25%; */
  /* text-align: center; */
  text-transform: capitalize;
}
.name1{
  width: 50%;
  text-align: center;
}
.name2{
  width: 50%;
  text-align: center;

}
/*Attendance List serction 1 */
.attendance1{
  margin-top: 0%;
  display: flex;
  width: 100%;
  /* height: 13%; */
  height: 465px;
  padding-top: 0px;
  text-transform: capitalize;
  
  
  
}

.attendance2{
  margin-top: 0%;
  display: flex;
  justify-content: center;
  width: 100%;
  /* height: 13%; */
  height: 465px;
  padding-top: 0px;
  text-transform: capitalize;
  
  
  
}

.attendance-list1{
  width: 47.5%;
  /* height: 50%; */
  margin-right: 2%;
  margin-left: 2%;
  display: flex;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
  /* overflow-x:hidden; */
  /* overflow-y:hidden; */
  /* height: 10%; *none
  padding-top: 0px;
  padding-inline: 5px;
  /* margin-top: 10px; */
  background: transparent;
  border-radius: 10px;
  transition: 3s;
  /* box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1); */
}
/* div :hover{
  overflow-x: hidden;
} */

.attendance-list2{
  width: 47.5%;
  margin-right: 2%;
  margin-left: 2%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
  /* overflow-x:hidden; */
  /* overflow-y:hidden; */
  /* height: 10%; *none
  padding-top: 0px;
  padding-inline: 5px;
  /* margin-top: 10px; */
  background: transparent;
  border-radius: 10px;
  transition: 3s;
  /* box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1); */
}
.table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  /* make this parents */
  /* display: contents; */
  
}

/* .table thead{
  position:sticky;
} */
/* thead tr { position: sticky; top: 0; } */
/* .tablebar{
  position:sticky;
} */

.tablebar th{
  background-color: #4e5e55;
}
table thead tr{
  color: #fff;
  /* background: #4e5e55; */
  text-align: left;
  font-weight: bold;
}
.table th{
  /* position: sticky; top: 0px; */
  padding: 10px 15px;
}
.table td{
  
  padding: 10px 15px;
}
.table tbody tr{

  border-bottom: 1px solid #2e1608c0;
}
.table tbody tr:nth-of-type(odd){
  background: #dadada83;
}
.table tbody tr:nth-of-type(even){
  background: #92929288;
}


.table tbody tr:last-of-type{
  border-bottom: 10px solid #4e5e55;
}

.table tbody{
  
  opacity: 100%;
}



/* tab */
.tab {
  /* margin-bottom: 4%; */
  margin-top:4%;
  /* margin-left:37.5%; */
  margin-left:749.652px;
  overflow: hidden;
  width: 319.750px;
  height: 100px;
  border: transparent;
  background-color: transparent;
  position: sticky;
  top:9%;
  /* padding-top:50%; */
  /* padding-inline: 50%; */
  /* make content compose in linear */
  display: flex;
  justify-content: center;
}

/* Style the buttons inside the tab */
.tab button {
  width: 25%;
  height: 20%;
  background-color: #48554544;
  text-align: center;
  /* font-size:x-small; */
  /* color:transparent; */
  border-radius: 8px;
  margin-inline:10%;
  margin-top:5%;
  float: left;
  /* position:flex; */
  border:transparent;
  outline: none;
  cursor: pointer;
  font-size: x-small;
  scale: 1.4;
  transition: color 0.2s;
  transition: scale 0.3s;
  /* padding:30px 0px; */
  /* padding-inline: 0px; */
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #485545;
  border-radius: 8px;
  color:black;
  scale:1.6;
  /* padding: 14px 16px; */
}

/* Create an active/current tablink class */
.tab button:active {
  background-color: rgb(40, 48, 39);
  color:#485545;
  scale:1.4;
}

#conbutt1{
  background-color: #485545b4;
  transition: 0.3s;
  -webkit-transition: all 0.3s;
}
#conbutt1::after { 
  content: "D"; 
  transition: 0.3s;
  -webkit-transition: all 0.3s;
}
#conbutt1:hover::after { 
  content: "DASHBOARD"; 
  transition: 0.3s;
} 
#conbutt2{
  background-color: #48554544;
  transition: 0.3s;
}
#conbutt2::after { 
  content: "R"; 
  transition: 0.3s;
}
#conbutt2:hover::after { 
  content: "REQUEST"; 
  transition: 0.3s;
} 
