*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font: comic;
}

body{
    height: 100vh;
    background-color: #FDF5D0;
    text-align: center;
    display: flex;
    flex-direction: column;

}
.header{
    position: fixed;
    display: flex;
    background-color: #2D342C;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    color: #eaeaea;
    padding: 1.3rem 10%;
    z-index: 100;
}
.leftbar{
    padding-top: 70px;
    position: fixed;
    background-color: #272222;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    

    color: #eaeaea;

}



.mid{
    margin-top: 10%;

    justify-content: center;
    padding-left: 13%;
    width: 100%;
}
.menubar a{
    position: relative;
    text-decoration: none;
    color: #FBFCF8;
    font-size: 1.15rem;
    font-weight: 500;
    margin-left: 3rem;
}

.logo a{
    text-decoration: none;
    color: #FBFCF8;
    align-items: center;
    padding: 1px 20px;
}

.leftbarlist a{
    
    text-decoration: none;
    color: #FBFCF8;

    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    border-top: 1px solid #000000;

}
.leftbar header{
    background-color: #4A4141;
    padding: 0px;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    font: Verdana ;
    user-select: none;
}
.leftbarlist a:hover{
    margin-right: 20%;
    background-color: #485545;
    padding-left: 20px;
}
h3{
    position: flex;
    display: block;
    padding: 30px;
}

.menubar a:after{
    content: "";
    position: absolute;
    background-color: #FDF5D0;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
}
.menubar a:hover::after{
    width: 100%;
}
.leftbar a{
    color: #FBFCF8;
    text-decoration: none;
}
.leftbar h3{

    background-color: #485545;
    padding-left: 20px;
}
.newarrival{
    width: 100%;
    margin-top: 10%;

    font-size: 120px;
    align-items: center;
    color:#272222;

}
.container{
    position: relative;
    display: flex;
    margin-top: 5%;
    width: 100%;
    height: auto;
    justify-content: center;

}
.nabox{
    position: relative;
    background-color:#FBFCF8;
    width: 200px;
    height: 300px;
    z-index: 1000;
    border-radius: 10px;
    margin: 10px;
    border-style: solid;
    border-width: thin;
}