*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font: comic;
}
body{
    height: 100vh;
    background-color: #FDF5D0;
    text-align: center;
    display: flex;
    flex-direction: column;

}
.mid{
    margin-top: 10%;


    padding-left: 13%;
    width: 100%;
}

.container{
    position: relative;
    display: flex;
    margin-top: 5%;
    width: 100%;
    height: auto;
    justify-content: center;

}
.nabox{
    position: relative;
    background-color:#FBFCF8;
    width: 200px;
    height: 300px;
    z-index: 1000;

    margin: 10px;
    border: #812d2d;
    border-style: solid;
    border-width: thin;
}
.horror{
    text-align: left;
    padding-left: 300px;
    font-size: 50px;

}
