*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font: comic;
}

body{
    background-color: #FDF5D0;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.mid{
    margin-top: 10%;
    justify-content: center;
    /* padding-left: 13%; */
    width: 100%;
}
.newarrival{
    width: 100%;
    margin-top: 10%;
    font-size: 120px;
    align-items: center;
    color:#272222;

}
.container{
    position: sticky;
    display: flex;
    margin-top: 5%;
    width: 100%;
    height: auto;
    justify-content: center;
}
.nabox{
    position: relative;
    background-color:#FBFCF8;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
    border-style: solid;
    border-width: thin;
}