.leftbar{
    padding-top: 70px;
    position: fixed;
    background-color: #272222;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    color: #eaeaea;
}
.leftbarlist a{
    text-decoration: none;
    color: #FBFCF8;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    border-top: 1px solid #000000;
}
.leftbar header{
    background-color: #4A4141;
    padding: 0px;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    font: Verdana ;
    user-select: none;
}
.leftbarlist a:hover{
    margin-right: 20%;
    background-color: #485545;
    padding-left: 20px;
}
h3{
    position: flex;
    display: block;
    padding: 30px;
}
.leftbar a{
    color: #FBFCF8;
    text-decoration: none;
}
.leftbar h3{
    background-color: #485545;
    padding-left: 20px;
}
.leftbar a[href="all.php"]:active {
    background-color: #485545;
}

/* Style for Page 2 */
.leftbar a[href="comic.php"]:active {
    background-color: #485545;
}

/* Style for Page 3 */
.leftbar a[href=""] {
    background-color: #485545;
}