*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Poppings", sans-serif;
    background-color: lightcoral;
}
.sidebar-menu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 100%;

}
.sidebar-menu .sidebar{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    padding: 10px;
    z-index: 5;
}

.sidebar-menu .toggle-btn{
    position: absolute;
    top: 20px;
    left: 238px;
    width: 30px;
    height: 30px;
    text-align: right;
    padding-left:8px;
    background: lightseagreen;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: lightsalmon;
}
/* 
.sidebar-menu.active .toggle-btn i. */
.sidebar-menu .sidebar .links .link {
    margin: 10px 0px;
}

.sidebar-menu .sidebar .links .link > a {
    text-decoration: none;
    display: block;
    padding: 10px 5px;
    color: lightslategray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.sidebar-menu .sidebar .links .link .sub-menu{
    margin-left: 5px;
    padding-left: 10px;
    border-left: 1px solid lightcoral;
    max-height: 0px;
    overflow: hidden;
    transition:max-hegiht 300ms ease-in-out;
}
.sidebar-menu .sidebar .links .link .sub-menu a{
    text-decoration: none;
    display: block;
    padding: 5px;
    margin: 5px 0px;
    color: lightgreen;
}