.page {
    height: 900px;
    width: 500px;
    background-color: #37322F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
/* .inputitem {
    color: #cad2c5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
} */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.container .page .input {
    width: 200px;
    background-color: #fcfcfc;
    border-radius: 10px;
    padding: 15px 1rem;
    /* outline: 2px solid rgb(212, 212, 134); */
}
.mar{
    text-align: start;
    margin-top: 10px;
}
.container .page .button {
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    background-color: #bdc7bb;
    border-radius: 8px;
    transition-property: transfrom, background-color;
    transition: 0.5s;
}
.button:hover {
    scale: 1.1;
    /* rotate: 360deg; */
    background-color: #4a5846;
    color: white;
}
.button:active{
    scale: -2;
}
.lb{
    color: #e0e0e0;
    margin-top: 5px;
    padding-top: 10px;
    padding: 1px 0.2rem;
}
.color{
    margin-left: 120px;
    height: 200px;
    width: 400px;
    /* background-color: white; */
}
.tone{
    display: inline-block;
    height: 150px;
    width: 50px;
    margin-left: 5px;
    margin-top: 5px;
    /* background-color: aqua; */
}
.container .page div {
    margin: 10px 0 5px 0;
    color:#cad2c5 ; 
}
.container .page h3{
    margin-bottom: 4px;
}
.container .page small{
    color: rgb(236, 236, 236);
    visibility: hidden;
    margin: 10px 0 -9px 0;
}
.form-control{
    display: flex;
    flex-direction: column;
}
.form-control.error input{
    border-color: red;
}
.form-control.success input{
    border-color: green;
}
.form-control.error small{
    visibility: visible;
}
.lbb{
    font-size: 30px;
    color: white;
}