@import url("https://fonts.googleapis.com/css?family=Mitr");
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;


    /* font: comic; */
    font-family:Mitr ;
}
body{
    background-color: #FDF5D0;
}
.main{
    background-color: #FDF5D0;
    margin-top: 4.6%;
    height: 200%;
    display: flex;
    justify-content: center;
}
.bookname{
    position: relative;
    /* background-color: lightgreen; */
    width: 100%;
    font-family: Mitr;
    font-size: 40px;
    
}
.sentcom{
    border: transparent;
    color: white;
    width: 50%;
    height: 30px;
    position: center;
    border-radius: 40px;
    background-color: #494639;
    margin-left: 25%;
    margin-top: 5%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-family: Mitr;
    transition:0.5s;
    /* font-weight: 600; */
}
.sentcom:hover{
    transform: scale(1.1);
    background-color: #485545;
}
.author{
    margin-top: 2%;
    /* background-color: lightcoral; */
}
.left{
    background-color: #FDF5D0;
    margin-left:10%;
    position: sticky;
    top: 0;
    height: 100%;
    width: 50%;
    height:781px;
    /* border: solid; */
}
.right {
    background-color: #FDF5D0;
    overflow-y: scroll;
    position: relative;
    gap: 10px;
    height:781px;
    width: 50%;
    /* border: solid; */
}
.box{
    border-radius: 10px;
    display: block;
    justify-content: center;
    background-color: rgb(255, 253, 253);
    margin-left: 20%;
    width: 60%;
    margin-top: 2%;
    text-align: center;
    height: 220px;
    border: 1px solid rgb(246, 248, 222);
    box-shadow: rgba(66, 64, 49, 0.19) 0px 10px 20px, rgba(255, 235, 235, 0.23) 0px 6px 6px;
}
.cover{
    margin-left: 10%;
    margin-top: 10%;
}
.reviewform{
    width: 100%;
    background-color: rgb(86, 102, 85);
    border:transparent;
}

.form-box{
    
    position: relative;
    width: 80%;
    height: 33%;
    margin-left: 8%;
    margin-top: 9%;
    background-color: #ffffff8c;

    border: transparent;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: rgb(250, 229, 185) 0px 20px 30px -10px;
}
.reviewtitle{
    margin-top: 2%;
    font-size: 1.5em;
    color: #494639;
    font-weight: bold;
    text-align: center;
}
.inputbox{
    background-color: #9F967F;
    cursor:text;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin:2% 10%;
    width: 80%;
    height: 160px;
    border:transparent;
    /* border: 2px solid #353535; */
}
.inputbox label{
    position: absolute;
    top: 50%;
    width: 100%;
    left: 5px;
    transform: translateY(-50%);
    color: rgb(64, 63, 63);
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}

textarea::placeholder {
    font-weight: normal;
    opacity: 0.5;
    color: #525252;
}
textarea{
    cursor: text;
    resize: none;
    width: 100%;
    padding: 5% 10%;
    outline: 0;
    height: 160px;
    
    /* border: 1px solid #fff; */
    color: #1b1b1b;
    background: transparent;
    font-size: 15px;
    font-family: Mitr;
    font-weight: 350;
}
.textgroup{
    position: absolute;
    display: block;
    width: 50%;
    margin-left: 40%;
    margin-top: 20%;
    top: 0;
    /* justify-content: space-between; */
}
.inboxtext{
    padding: 1% 8% 0 8%;
}
.profile{
    display: flex;
    /* background-color: lightcoral; */
    height: 30%;
}
.iconcomment{
    font-size: 2.5em;
    width: 15%;
    padding-top: 1%;
    padding-left: 2%;
    /* background-color: lightblue; */
}
.comment{
    color: #1a1515;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 30;
    line-height: 20px;
}
.username{
    width: 120%;
    height: 50%;
    color: #485545;;
    /* background-color: lightgreen; */
    text-align: left;
    padding-left: 5%;
    padding-top: 13%;
}
.date{
    color: gray;
    width: 200%;
    height: 50%;
    font-size: 10px;
    font-weight: 10;
    /* background-color: lightslategrey; */
    text-align: left;
    padding-left: 7%;
    padding-top: 2%;
}
.like_contain{
    text-align: center;
    background-color: transparent;
    /* width: 50%; */
    height: 20%;
    margin-top:4%;
    position:absolute;
    gap:20%;
    display: flex;
    /* flex */
}
#like_svg{
    scale: 1;
    filter: invert(26%) sepia(9%) saturate(850%) hue-rotate(11deg) brightness(93%) contrast(90%);
    transition: scale 0.3s;
    cursor:pointer;
}

#like_svg:hover{
    scale:1.1;
    filter: invert(66%) sepia(74%) saturate(5617%) hue-rotate(332deg) brightness(91%) contrast(85%);
}

#like_svg:active{
    scale: 0.9;
    filter: invert(66%) sepia(74%) saturate(5617%) hue-rotate(332deg) brightness(91%) contrast(85%);
}
.likebutt{
    /* position:absolute; */
    position:absolute;
    background-color: transparent;
    height:100%;
    left:0%;
    width: 100%;
    scale:1;
}
