*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font: comic;
}

body{
    background-color: #FDF5D0;

    display: flex;
    flex-direction: row;
    /* padding-left: 400px; */
}

.mid{
    margin-top: 10%;
    justify-content: center;
    padding-left: 18.5%;
    width: 100%;
    /* text-align: center; */
    display: block;
}
.head{
    gap: 20px;
    left: 0px;
    margin-top: 5%;
    margin-left: 1%;
    display: inline-flex;
    justify-content: space-between;
}
.square{
    width: 10px;
    height: 120px;
    background-color: #485545;
}
.newarrival{
    top: 0px;
    width: 100%;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 120px;
    align-items: center;
    color:#272222;


}
.container{
    
    /* background-color: white; */
    position: relative;
    display: flex;
    margin-top: 5%;
    margin-left: 160px;
    gap: 10px;
    width: 1000px;
    height: auto;

}
.nabox{
    position: relative;
    background-color:#FBFCF8;
    width: 19%;
    height: 300px;
    border-radius: 10px;
    /* margin: 10px; */
    border-style: solid;
    border-width: thin;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.1);
}

.nabox:hover{
    box-shadow: 20px 20px 30px rgba(255, 255, 255, 0.06);
    z-index: 1;
}

img {
    width: 150px;
    height: 180px;
}
