*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font: comic;
}

body{
    background-color: #FDF5D0;
    text-align: center;
    display: flex;
    flex-direction: row;
    /* padding-left: 400px; */
}

.mid{
    margin-top: 10%;
    justify-content: center;
    padding-left: 13%;
    width: 100%;
}
.newarrival{
    width: 100%;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 120px;
    align-items: center;
    color:#272222;

}
.container{
    background-color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 5%;
    margin-left: 50px;
    width: 1000px;
    height: auto;
}
.nabox{
    position: relative;
    background-color:#FBFCF8;
    width: 20%;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
    border-style: solid;
    border-width: thin;
}

.nabox:hover{
    box-shadow: 20px 20px 30px rgba(255, 255, 255, 0.06);
    z-index: 1;
}